<div class="container margin-top">
  <h1>Créer une catégorie</h1>
  <hr>
  <%= simple_form_for @tag do |t| %>
  <%= t.input :title, label: 'Titre' %>
  <%= t.input :description, label: 'Description' %>
  <%= t.submit "Enregistrer", class: "btn btn-primary" %>
  <% end %>
</div>
